.Flamengo{color: #ffffff;: rgb(167, 24, 24);}
.Flamengo{font-family: 'Times New Roman', Times, serif;}
.Mengão{font-family: 'Times New Roman', Times, serif;}
.Mengão{color: rgb(255, 255, 255);}
#regatas{font-family: 'Times New Roman', Times, serif;}
#regatas{color: #ffffff;}
body{background-color: #ffffff; font-size: 18px;background: linear-gradient(85deg, red, black);}
h1{font-size: 40px;color: #ffffff;}
